<div>
    <h1>User Info</h1>
</div>
<section>
    <div style="text-align: left">
        <p>JWT:</p>
        <p>{{id_token}}</p>
        <br>
        <p>User ID:</p>
        <p>{{user_id}}</p>
    </div>
</section>
